wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
index.php
wp-includes/
wp-admin/
wp-content/languages/
wp-content/upgrade/
wp-content/uploads/
wp-content/advanced-cache.php
wp-content/autoptimize_404_handler.php
wp-content/index.php